<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinetube</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
</head>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    bool login = GlobalVariables.Loggedin;
    ISession session = HttpContextAccessor.HttpContext.Session;
    IEnumerable<String> Keys = session.Keys;
    String myID = string.Empty;
}
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Cinetube</a>
            </div>
            <div class="navbar-collapse collapse">
                <ulk class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="AllMovies">영화 찾기</a></li>
                    @{
                        bool loggedin = false;

                        if (Keys.Contains("ID"))
                        {
                            foreach (String key in Keys)
                            {
                                if (key.Equals("Loggedin") && session.GetString(key) == "true")
                                {
                                    loggedin = true;
                                    myID = session.GetString("ID");
                                }
                            }
                        }
                        if (loggedin)
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="MyPage">내 정보(@myID)</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="MyMovies">내 영화</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Charge">충전</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Logout">로그아웃</a></li>
                        }
                        else
                        {
                            @*<li><a> 로그인 안했음 </a></li>*@
                            <li><a href="#" class="btn" data-toggle="modal" data-target="#loginModal" data-backdrop="false">로그인</a></li>
                            @*<li><a asp-area="" asp-controller="Home" asp-action="Login">로그인</a></li>*@
                            @*<li><a asp-area="" asp-controller="Home" asp-action="SignUp">회원가입</a></li>*@
                            <li><a href="#" class="btn" data-toggle="modal" data-target="#signUpModal" data-backdrop="false">회원가입</a></li>
                            <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="Authenticate" method="post">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">로그인</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="아이디"
                                                           name="ID" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" type="password" placeholder="비밀번호"
                                                           name="PW" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">로그인</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="SignUp" method="post">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">회원 가입</h4>
                                            </div>
                                            <div class="modal-body">
                                                <!--SignUp(string ID, string PW, string name, string birth, string ssn, string phone, string PWHint, string PWans)-->
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="아이디"
                                                           name="ID" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" type="password" placeholder="비밀번호"
                                                           name="PW" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="sel1">비밀번호 힌트</label>
                                                    <select onchange="selectHintNo.call(this,event)" class="form-control" id="sel1">

                                                        @{for (var index = 0; index < GlobalVariables.PwHintList.Count; index++)
                                                        {
                                                            string hint = GlobalVariables.PwHintList[index];
                                                            <option value="@index">@hint</option>
                                                        }}
                                                        <input class="hidden" type="hidden" id="PWHint" name="PWHintNo" />
                                                    </select>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="비밀번호 힌트 답변"
                                                               name="PWAns" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="이름"
                                                               name="name" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="date" placeholder="생년월일"
                                                               name="birth" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="number" placeholder="주민등록번호(뒷자리)"
                                                               name="ssn" maxlength="7" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="휴대폰 번호"
                                                               name="phone" maxlength="11" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">회원 가입</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </ulk>
            </div>
        </div>
    </nav>

    <script type="text/javascript">
        function selectHintNo(event) {
            document.getElementById('PWHint').value = this.selectedIndex;
        }
    </script>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Cinetube</p>
        </footer>
    </div>
    
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
@*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
