@{
    List<MovieInfo> moviesInfo = ViewData["MoviesInfo"] as List<MovieInfo>;
}

<h2>@ViewData["Title"]</h2>

<p>모든 영화들 나열. 영화 attribute들 전부.<br/>
    영화 클릭하면 나오는 것<br/>
    -구매하기<br />
    -대여하기<br />
    -한줄평 리스트<br />
</p>

@{
    const int MAX_LENGTH = 200;
    foreach (var movieInfo in moviesInfo)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@movieInfo.제목</h3>
            </div>
            <div class="panel-body">
                @{if(@movieInfo.줄거리.Length < MAX_LENGTH) {
                      @movieInfo.줄거리
                  }
                  else
                  {
                      string shortstory = movieInfo.줄거리.Substring(0, MAX_LENGTH);
                      shortstory = shortstory.Insert(shortstory.Length, "...");
                      @shortstory
                  }
                }
            </div>
            <table class="table">
                <tr>
                    <th style="text-align:center">@movieInfo.금액₩</th>
                    <th style="text-align:center">@movieInfo.영화시간 분</th>
                    <th style="text-align:center">@movieInfo.관람제한</th>
                </tr>
            </table>
            <div class="panel-footer">영화 세부정보</div>
        </div>
    }
}
