@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int articleNo = (int)ViewData["articleNo"];
    string ID = (string)ViewData["ID"];
    string title = (string)ViewData["title"];
    DateTime writeTime = (DateTime)ViewData["writeTime"];
    string context = (string)ViewData["context"];

    ISession session = HttpContextAccessor.HttpContext.Session;
    IEnumerable<String> Keys = session.Keys;

    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].Equals("NOTLOGIN"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>로그인 하세요.</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("NOID"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>아이디가 존재하지 않습니다.</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("WRONGPW"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>비밀번호가 틀렸습니다.</strong>
            </div>
        }
    }
}

<h2>Article</h2>
<table class="table">
    <thread><tr><th>@articleNo 번 글</th><th>ID: @ID</th><th>제목: @title</th><th>작성시간: @writeTime</th></tr></thread>
</table>
<hr />
<div class="container">
    @context
</div>
<hr />
<!--로그인 확인-->
@{
    bool loggedin = false;

    if (Keys.Contains("ID"))
    {
        foreach (String key in Keys)
        {
            if (key.Equals("Loggedin") && session.GetString(key) == "true")
            {
                loggedin = true;
            }
        }
    }
}
@{
    if (loggedin)
    {
        <form method="post" asp-controller="Home" asp-action="NewSubarticle" id="NewSubarticle" name="NewSubarticle" class="form-inline">
            <div>
                <textarea rows="4" cols="50" maxlength="100" id="context" name="context" class="form-control"></textarea>
                <button type="submit" class="btn btn-default">댓글 작성</button>
            </div>
            <input type="number" value="@articleNo" id="articleNo" name="articleNo" hidden />
        </form>
    }
}

<div class="commentList">
    @foreach (var dt in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@dt.subNo 번 댓글)   ID: <b>@dt.subID 님</b></div>
            <div class="panel-body">@dt.subContext</div>
        </div>
    }
</div>