@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<MovieInfo> recentMoviesInfo = ViewData["RecentMoviesInfo"] as List<MovieInfo>;
    List<MovieInfo> popularMoviesInfo = ViewData["PopularMoviesInfo"] as List<MovieInfo>;
    List<RecentArticle> recentArticles = ViewData["RecentArticles"] as List<RecentArticle>;
    ISession session = HttpContextAccessor.HttpContext.Session;
    IEnumerable<String> Keys = session.Keys;
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].Equals("SUCCESS"))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>결제 성공!</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("EXPENSIVE"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>잔액 부족</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("ALREADY"))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>이미 보유 중인 영화입니다</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("NOTLOGIN"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>로그인 하세요.</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("NOID"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>아이디가 존재하지 않습니다.</strong>
            </div>
        }
        else if (ViewData["Result"].Equals("WRONGPW"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>비밀번호가 틀렸습니다.</strong>
            </div>
        }
    }
}
<div class="page-header"><h1>@ViewData["Title"]</h1></div>
<div class="row">
    <div class="col-md-4">
        <h2>최신 영화</h2>
        @{
            const int MAX_LENGTH = 200;
            System.Diagnostics.Debug.Assert(recentMoviesInfo != null, nameof(recentMoviesInfo) + " != null");

            for (var index = 0; index < recentMoviesInfo.Count; index++)
            {
                var movieInfo = recentMoviesInfo[index];
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@movieInfo.제목</h3>
                    </div>
                    <div class="panel-body">
                        @if (@movieInfo.줄거리.Length < MAX_LENGTH)
                        {
                            @movieInfo.줄거리
                        }
                        else
                        {
                            string shortstory = movieInfo.줄거리.Substring(0, MAX_LENGTH);
                            shortstory = shortstory.Insert(shortstory.Length, "...");
                            @shortstory
                        }

                    </div>
                    <table class="table">
                        <tr>
                            <th style="text-align: center">@movieInfo.금액₩</th>
                            <th style="text-align: center">@movieInfo.영화시간 분</th>
                            <th style="text-align: center">@movieInfo.관람제한</th>
                        </tr>
                    </table>
                    <div class="panel-footer" style="text-align: center">
                        <a href="#" data-toggle="modal" data-target="#recentMovieModal@(index.ToString())" data-backdrop="true">영화 세부정보</a>
                    </div>
                    <div class="modal" id="recentMovieModal@(index.ToString())" tabindex="-1" role="dialog" aria-labelledby="recentMovieModal@(index.ToString())" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">@movieInfo.제목</h4>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li><label>줄거리</label><br />@movieInfo.줄거리</li>
                                        <li>
                                            <label>예고편</label><br />
                                            <div class="well">
                                                @{
                                                    string teaserLink = $"https://cinetubecdn.blob.core.windows.net/files/{movieInfo.예고편경로}";
                                                }
                                                <video controls="controls" src="@teaserLink" style="width: 100%">
                                                    Your browser does not support the HTML5 Video element.
                                                </video>
                                            </div>
                                        </li>
                                        <li>
                                            <table class="table">
                                                <tr>
                                                    <th style="text-align: center">@movieInfo.금액₩</th>
                                                    <th style="text-align: center">@movieInfo.영화시간 분</th>
                                                    <th style="text-align: center" colspan="2">@movieInfo.관람제한</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center">@String.Join(", ", movieInfo.장르.ToArray())</th>
                                                    <th style="text-align: center">@movieInfo.개봉연도 년</th>
                                                    <th style="text-align: center">@movieInfo.감독 감독</th>
                                                    <th style="text-align: center">@movieInfo.제작사 제작</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center" colspan="4">
                                                        @{
                                                            if (movieInfo.배우.Count == 0)
                                                            {
                                                                <span>출연 배우 정보 없음</span>
                                                            }
                                                            else
                                                            {
                                                                <span>출연:</span>
                                                                foreach (string 배우 in movieInfo.배우)
                                                                {
                                                                <span>@배우 </span>
                                                                }
                                                            }
                                                        }
                                                    </th>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                @{
                                    bool loggedin = false;
                                    string userNo = string.Empty;

                                    if (Keys.Contains("ID"))
                                    {
                                        foreach (String key in Keys)
                                        {
                                            if (key.Equals("Loggedin") && session.GetString(key) == "true")
                                            {
                                                loggedin = true;
                                                userNo = session.GetString("userNo");
                                            }
                                        }
                                    }
                                    if (loggedin)
                                    {
                                        <div class="modal-footer">
                                            <table class="table">
                                                <tr>
                                                    <th style="text-align: center" colspan="2">
                                                        <h5>잔액: @ViewData["Balance"].ToString() ₩</h5>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">
                                                        <form asp-controller="Home" asp-action="Purchase" method="post">
                                                            <input type="hidden" name="movieNum" value=@movieInfo.영화번호 />
                                                            <input type="hidden" name="purchaseType" value="buy" />
                                                            <input type="hidden" name="cameFrom" value="Index" />
                                                            <button type="submit" class="btn btn-primary">구매하기</button>
                                                        </form>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <form asp-controller="Home" asp-action="Purchase" method="post">
                                                            <input type="hidden" name="movieNum" value=@movieInfo.영화번호 />
                                                            <input type="hidden" name="purchaseType" value="lend" />
                                                            <input type="hidden" name="cameFrom" value="Index" />
                                                            <button type="submit" class="btn btn-primary">대여하기</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                            <form method="post" action="/Home/NewMovieComment" name="NewMovieComment" class="form-inline">
                                                <div class="row">
                                                    <label class="col-xs-1 col-sm-1">평점: </label>
                                                    <input class="col-xs-1 col-sm-3 form-control" type="number" name="grade" step="0.1" min="1.0" max="5.0">
                                                    <label class="col-xs-1 col-sm-1">내용: </label>
                                                    <input class="col-xs-1 col-sm-7 form-control" type="text" name="content">
                                                    <button class="col-xs-1 col-sm-2 form-control btn btn-default" type="submit">작성</button><br />
                                                </div>
                                                <input type="number" value="@movieInfo.영화번호" name="movieNum" hidden />
                                                <input type="number" value="@userNo" name="userNo" hidden />
                                            </form>
                                        </div>
                                    }
                                }

                                @{
                                    if (movieInfo.한줄평.Count > 0)
                                    {
                                        <div class="modal-body">
                                            <div><h5>최근 한줄평</h5></div>
                                            @{
                                                foreach (var comment in movieInfo.한줄평)
                                                {
                                                    string panelType = string.Empty;
                                                    if (comment.평점 >= 4.0)
                                                    {
                                                        panelType = "panel-success";
                                                    }
                                                    else if (comment.평점 >= 3.0 && comment.평점 < 4.0)
                                                    {
                                                        panelType = "panel-info";
                                                    }
                                                    else if (comment.평점 >= 2.0 && comment.평점 < 3.0)
                                                    {
                                                        panelType = "panel-warning";
                                                    }
                                                    else if (comment.평점 < 2.0)
                                                    {
                                                        panelType = "panel-danger";
                                                    }
                                                    <div class="panel @panelType">
                                                        <div class="panel-heading"><b>평점: @comment.평점</b></div>
                                                        <div class="panel-body"><strong>@@@comment.아이디:</strong> @comment.내용</div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        <h2>인기 영화</h2>
        @{
            System.Diagnostics.Debug.Assert(popularMoviesInfo != null, nameof(popularMoviesInfo) + " != null");

            for (var index = 0; index < popularMoviesInfo.Count; index++)
            {
                var movieInfo = popularMoviesInfo[index];
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@movieInfo.제목</h3>
                    </div>
                    <div class="panel-body">
                        @if (@movieInfo.줄거리.Length < MAX_LENGTH)
                        {
                            @movieInfo.줄거리
                        }
                        else
                        {
                            string shortstory = movieInfo.줄거리.Substring(0, MAX_LENGTH);
                            shortstory = shortstory.Insert(shortstory.Length, "...");
                            @shortstory
                        }

                    </div>
                    <table class="table">
                        <tr>
                            <th style="text-align: center">@movieInfo.금액₩</th>
                            <th style="text-align: center">@movieInfo.영화시간 분</th>
                            <th style="text-align: center">@movieInfo.관람제한</th>
                        </tr>
                    </table>
                    <div class="panel-footer" style="text-align: center">
                        <a href="#" data-toggle="modal" data-target="#popularMovieModal@(index.ToString())" data-backdrop="true">영화 세부정보</a>
                    </div>
                    <div class="modal" id="popularMovieModal@(index.ToString())" tabindex="-1" role="dialog" aria-labelledby="popularMovieModal@(index.ToString())" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">@movieInfo.제목</h4>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li><label>줄거리</label><br />@movieInfo.줄거리</li>
                                        <li><label>예고편</label><br/>
                                            <div class="well">
                                                @{
                                                    string teaserLink = $"https://cinetubecdn.blob.core.windows.net/files/{movieInfo.예고편경로}";
                                                }
                                                <video controls="controls" src="@teaserLink" style="width: 100%">
                                                    Your browser does not support the HTML5 Video element.
                                                </video>
                                            </div>
                                        </li>
                                        <li>
                                            <table class="table">
                                                <tr>
                                                    <th style="text-align: center">@movieInfo.금액₩</th>
                                                    <th style="text-align: center">@movieInfo.영화시간 분</th>
                                                    <th style="text-align: center" colspan="2">@movieInfo.관람제한</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center">@String.Join(", ", movieInfo.장르.ToArray())</th>
                                                    <th style="text-align: center">@movieInfo.개봉연도 년</th>
                                                    <th style="text-align: center">@movieInfo.감독 감독</th>
                                                    <th style="text-align: center">@movieInfo.제작사 제작</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center" colspan="4">
                                                        @{
                                                            if (movieInfo.배우.Count == 0)
                                                            {
                                                                <span>출연 배우 정보 없음</span>
                                                            }
                                                            else
                                                            {
                                                                <span>출연:</span>
                                                                foreach (string 배우 in movieInfo.배우)
                                                                {
                                                                    <span>@배우 </span>
                                                                }
                                                            }
                                                        }
                                                    </th>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                @{
                                    bool loggedin = false;
                                    string userNo = string.Empty;

                                    if (Keys.Contains("ID"))
                                    {
                                        foreach (String key in Keys)
                                        {
                                            if (key.Equals("Loggedin") && session.GetString(key) == "true")
                                            {
                                                loggedin = true;
                                                userNo = session.GetString("userNo");
                                            }
                                        }
                                    }
                                    if (loggedin)
                                    {
                                        <div class="modal-footer">
                                            <table class="table">
                                                <tr>
                                                    <th style="text-align: center" colspan="2">
                                                        <h5>잔액: @ViewData["Balance"].ToString() ₩</h5>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">
                                                        <form asp-controller="Home" asp-action="Purchase" method="post">
                                                            <input type="hidden" name="movieNum" value=@movieInfo.영화번호 />
                                                            <input type="hidden" name="purchaseType" value="buy" />
                                                            <input type="hidden" name="cameFrom" value="Index" />
                                                            <button type="submit" class="btn btn-primary">구매하기</button>
                                                        </form>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <form asp-controller="Home" asp-action="Purchase" method="post">
                                                            <input type="hidden" name="movieNum" value=@movieInfo.영화번호 />
                                                            <input type="hidden" name="purchaseType" value="lend" />
                                                            <input type="hidden" name="cameFrom" value="Index" />
                                                            <button type="submit" class="btn btn-primary">대여하기</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                            <form method="post" action="/Home/NewMovieComment" name="NewMovieComment" class="form-inline">
                                                <div class="row">
                                                    <label class="col-xs-1 col-sm-1">평점: </label>
                                                    <input class="col-xs-1 col-sm-3 form-control" type="number" name="grade" step="0.1" min="1.0" max="5.0">
                                                    <label class="col-xs-1 col-sm-1">내용: </label>
                                                    <input class="col-xs-1 col-sm-7 form-control" type="text" name="content">
                                                    <button class="col-xs-1 col-sm-2 form-control btn btn-default" type="submit">작성</button><br />
                                                </div>
                                                <input type="number" value="@movieInfo.영화번호" name="movieNum" hidden />
                                                <input type="number" value="@userNo" name="userNo" hidden />
                                            </form>
                                        </div>
                                    }
                                }

                                @{
                                    if (movieInfo.한줄평.Count > 0)
                                    {
                                        <div class="modal-body">
                                            <div><h5>최근 한줄평</h5></div>
                                            @{
                                                foreach (var comment in movieInfo.한줄평)
                                                {
                                                    string panelType = string.Empty;
                                                    if (comment.평점 >= 4.0)
                                                    {
                                                        panelType = "panel-success";
                                                    }
                                                    else if (comment.평점 >= 3.0 && comment.평점 < 4.0)
                                                    {
                                                        panelType = "panel-info";
                                                    }
                                                    else if (comment.평점 >= 2.0 && comment.평점 < 3.0)
                                                    {
                                                        panelType = "panel-warning";
                                                    }
                                                    else if (comment.평점 < 2.0)
                                                    {
                                                        panelType = "panel-danger";
                                                    }
                                                    <div class="panel @panelType">
                                                        <div class="panel-heading"><b>평점: @comment.평점</b></div>
                                                        <div class="panel-body"><strong>@@@comment.아이디:</strong> @comment.내용</div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        <h2>자유게시판</h2>
        @{
            System.Diagnostics.Debug.Assert(recentArticles != null, nameof(recentArticles) + " != null");
            foreach (var recentArticle in recentArticles)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@@@recentArticle.ID</h3>
                    </div>
                    <div class="panel-body"><a asp-controller="Home" asp-action="Article" asp-route-id="@recentArticle.글번호">@recentArticle.제목</a></div>
                </div>
            }
        }
    </div>
</div>
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
-->
